{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<main class="container p-5">
    <table class="table table-striped">

        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ total_grand }}</td>
            </tr>
        </tfoot>

        <tbody>
            {% for row in rows %}
                {% if row["SUM(shares)"] > 0 %}
                    <tr>
                        <td>{{ row["symbol"] }}</td>
                        <td>{{ row["name"] }}</td>
                        <td>{{ row["SUM(shares)"] }}</td>
                        <td>{{ row["price_actual"] }}</td>
                        <td>{{ row["total_holding"] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>

    </table>
</main>

{% endblock %}